{% load static tailwind_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
  <style>
    body {
  background-color:lightcyan;
}
  </style>
{% tailwind_css %}
</head>
<body>
  <h1 class="font-bold text-center text-2xl text-black italic ">🔑Change Password</h1>
  <div class=" flex justify-center mr-10">
  <form class=" border-4 border-black-500 w-1/5 h-6/6 shadow-2xl  bg-stone-300 cursor-pointer p-10 mr-40 ml-60 mt-6 rounded-lg border-2 border-gray-800" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="font-bold text-black">
    Old Password:<br> </div>
    <input class="rounded-lg w-4/5 border-2 border-gray-600" type="text" name="oldpassword">
    <br>

    <div class="font-bold text-black">
    New Password:<br></div>
    <input class="rounded-lg w-4/5 border-2 border-gray-600" type="text" name="newpassword">
    <br>

    <div class="font-bold text-black">
    Re-Type Password:<br></div>
    <input class="rounded-lg w-4/5 border-2 border-gray-600" type="text" name="retypepassword">
    <br>
  
    <div class="flex justify-end">
    <button type="button" class=" border-double border-4 border-white-500 cursor-pointer mt-6 text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
    <input class="cursor-pointer " type="submit" >
    </button>
</div>
</form> 
</body>
</html>