{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Login</title>
{% tailwind_css %}
  <style>
    form {
      background-image: url('https://media.istockphoto.com/photos/stethoscope-on-the-table-picture-id894125638?k=20&m=894125638&s=170667a&w=0&h=0l_QLI-pszN5oirVHnKl6kbbLE3iYg531EmXGD9hSts=');
    }
  </style>
</head>
<body>
<div class="hero-content flex-col lg:flex-row-reverse">
<div class="text-center lg:text-left">
  <h1 class="text-5xl font-bold ml-20 mt-20 italic">Login now!</h1>
  <p class="py-6 ml-20 font-mono text-red-700 font-bold">🏥"Medicine cure diseases but only doctors can cure patients."!🙂😊 </p><br>
 <div class="ml-80">
  <p class=" font-mono text-red-700 font-bold italic "> - Carl Jung.</p>
</div>
</div>
<form  method="post" action=""  class="w-1/2 border-2 border-indigo-500 drop-shadow-2xl   shadow-2xl shadow-indigo-500/50 cursor-pointer m-10 p-10 rounded-lg ">
   {% csrf_token %} 
<div class="mb-5">
    <label class="block text-black italic text-sm font-bold cursor-pointer mb-2 " for="">Username</label>
    <div class="appearance-none  cursor-pointer text-grey-800  ">
        {{form.username}}
</div>
</div>

<div class="mb-5">
    <label class="block text-black italic text-sm font-bold cursor-pointer mb-2 " for="">Password</label>
    <div class="appearance-none cursor-pointer text-grey-800 ">
        {{form.password}}
</div>
</div>

<div class="flex items-start mb-6">
    <label class="label">
      <a href="" class="label-text-alt link link-hover text-red-700 mr-10 hover:underline">Forgot password?</a>
    </label>
</div>

<input type="hidden" name="next" value="/users/doc/">

<div class="form-group">
    <button class="btn btn-success font-bold hover:bg-green-500 ml-80" type="submit">Login</button>
</div>

<div class="border-top pt-3 mb-10 ml-20 ">
    <small class="text-muted">
        New to Hospital? <a href="{% url 'users:register' %}" class="ml-4 text-green-600 font-semibold hover:underline">Register</a>
    </small>
</div>
</form>
</div>
</body>
{% block content %} 
</html>
{% endblock %}

