{% load static tailwind_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Details</title>
{% tailwind_css %}
</head>
<body class="h-screen bg-gradient-to-b from-green-200 to-green-600 border-8 border-gray-900" >

            <div class="card bg-teal-400 text-primary-content  mt-20 ml-96  shadow-2xl shadow-indigo-500/50" style="height: 550px; width: 750px;">
            <div class="card-body">
            <div class="card-actions justify-center">
            <button  class="text-gray-900 font-bold shadow-2xl bg-cyan-500 shadow-lg shadow-cyan-500/50 bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">{{pats.name}} Details</button>
            </div>
     
            <div class="grid grid-rows-5 grid-flow-col gap-4" >
            <div class="mt-10 text-black font-bold italic">Patient ID: {{pats.patient_id}}</div>
            <div class="mt-10 text-black font-bold italic">Name: {{pats.name}}</div>
            <div class="mt-10 text-black font-bold italic">Gender: {{pats.gender}}</div>
            <div class="mt-10 text-black font-bold italic">Bloodgroup: {{pats.bloodgroup}}</div>
            <div class="mt-10 text-black font-bold italic">Age: {{pats.age}}</div>
            <div class="mt-10 text-black font-bold italic">Address: {{pats.address}}</div>
            <div class="mt-10 text-black font-bold italic">Taluk: {{pats.taluk}}</div>
            <div class="mt-10 text-black font-bold italic">Mobile Number: {{pats.mobile_number}}</div>
            <div class="mt-10 text-black font-bold italic">Email: {{pats.email}}</div>
            </div>
</div>
</div>
</body>
</html>