{% load static tailwind_tags %}
<html lang="en" data-theme="winter">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Bill</title>
  <style>
    body {
      background-color: rgb(253, 248, 248);
    }
    form {
      max-width: 900px;
      margin: auto;
      background-color: rgb(202, 247, 251);
      
    } 
  </style>
  {% tailwind_css %}

</head>
<body>
  <h1 class="text-2xl font-bold mt-1 text-center">🗑️Delete {{op.name}} Ticket</h1>
  <div class="flex justify-center">
  <form class="w-2/5 shadow-md  cursor-pointer m-10 p-10 rounded-lg" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="mb-5">
    <label class="block text-grey-700 text-sm font-bold cursor-pointer mb-2" for="">OP No : {{op.op_no}}</label>
    </div>

    <div class="mb-5">
    <label class="block text-grey-700 text-sm cursor-pointer font-bold mb-2" for="">Token No : {{op.token_no}}</label>
    </div>

    <div class="mb-5">
    <label class="block text-grey-700 text-sm font-bold cursor-pointer mb-2" for="">Name : {{op.name}}</label>
    </div>

    <div class="mb-5">
    <label class="block text-grey-700 text-sm font-bold cursor-pointer mb-2" for="">Address : {{op.address}}</label>
     
  </div>
  <div class="mb-5">
  <label class="block text-grey-700 text-sm font-bold cursor-pointer mb-2" for="">Registration fee : {{op.registration_fee}}</label>
  </div>

<div class="mb-5">
<label class="block text-grey-700 text-sm font-bold cursor-pointer mb-2" for="">Consultation fee : {{op.consultation_fee}}</label>
</div>

<div class="mb-5">
<label class="block text-grey-700 text-sm font-bold cursor-pointer mb-2" for="">Total : {{op.total}}</label>
 </div>

<div class="mb-5">
<label class="block text-grey-700 text-sm font-bold cursor-pointer mb-2" for="">Cash : {{op.cash}}</label>
</div>

<div class="mb-5">
<label class="block text-grey-700 text-sm font-bold cursor-pointer mb-2" for="">Billed by : {{op.billed_by}}</label>
</div>

<div class="mb-5">
<label class="block text-grey-700 text-sm font-bold cursor-pointer mb-2" for="">Doctor: {{op.doctor}}</label>
</div>

<div class="mb-5">
<label class="block text-grey-700 text-sm font-bold cursor-pointer mb-2" for="">Date : {{op.date}}</label>
</div>

<div class="mb-5">
<label class="block text-grey-700 text-sm font-bold cursor-pointer mb-2" for="">Time : {{op.time}}</label>
</div>

<div class="mb-5">
<input class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"type="submit" name="Delete Ticket" value="Delete Ticket"> 
</div>
    
</form>
</div>
</body>
</html>