{% load static tailwind_tags %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body {
    background-color: darkgrey;
  }
</style>
<title>Patient Homepage</title>
{% tailwind_css %}
</head>
<body>
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900 h-24">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="https://www.medicazone.in/images/MZ.png" class="flex items-center">
    <img src="https://www.medicazone.in/images/MZ.png" class="mr-3 h-6 sm:h-9" alt="LCC Logo">
    <span class="self-center text-xl font-bold whitespace-nowrap dark:text-white italic">LCC</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
    <span class="sr-only">Open main menu</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
    <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
    <li>
    <a href="{% url 'cmsapp:homeview' %}" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Home</a>
    </li>
    <li>
    <a href="" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Hi {{user.username}} !</a>
    </li>
    </ul>
    </div>
      
      <div class="flex justify-end">
      <button class="border-4 border-sky-500 h-10 px-4 m-2 text-sm text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800 " type="button"> 
      <ul tabindex="0" class="text-black text-lg font-bold">
      {% if user.is_authenticated %}
      <li><a href="{% url 'users:logout'%}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'patient:login1'%}">Login</a></li>
      {% endif %}
      </ul> 
    </button>
    </div>
    </div>
    </nav>
    <h1 class="font-bold text-black text-lg text-center ">Online Consultation Booking</h1>
    <div class="w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:border-gray-700 ml-80 mt-4">
 
      <div class="flex flex-col items-center pb-10 ">
      <img class="mt-6 w-24 h-24 rounded-full shadow-lg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3gL1PK_0_94VYO6Ej6PnP69VfZwirOyeoP9KvmXaKOe0Q61CANTTAvhwUkClHoWFLQHA&usqp=CAU" alt="">
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-black">George T John</h5>
        <li><span class="text-sm dark:text-black font-mono ">Physician</span></li>
        <li><span class="text-sm  dark:text-black font-mono">Available on Friday,Saturday</span></li>
        <li><span class="text-sm  dark:text-black font-mono">Time:8.00PM to 9.45PM</span></li>
        
          <div class="flex mt-4 space-x-3 md:mt-6">
          <a href="{% url 'patient:onlinebook' %}" class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Book Now</a>
          </div>
    </div>
    </div>
    </div>
    {% block content %}      

  </body>
  </html>
  {% endblock %} 
    <footer class="p-4 bg-white  shadow md:px-6 md:py-8  mt-40">
    <div class="sm:flex sm:items-center sm:justify-between">
    <a href="https://cms.com/" class="flex items-center mb-4 sm:mb-0">
    <img src="https://www.medicazone.in/images/MZ.png" class="mr-3 h-8" alt="CMS Logo">
    <span class="self-center text-2xl font-bold whitespace-nowrap dark:text-black-600 italic">LCC</span>
    </a>
        <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 font-semibold text-gray-600">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 font-semibold text-gray-600">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 font-semibold text-gray-600">Licensing</a>
            </li>
            <li>
                <a href="#" class="hover:underline font-semibold text-gray-600">Contact</a>
            </li>
        </ul>
  </div>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
  <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://cms.com/" class="hover:underline">Life Care Clinic™</a>. All Rights Reserved.
  </span>
</footer>    
   
  
   
   
