{% extends 'cmsapp/base.html' %}
{% block content %}
 <body>
  <h1 class="font-bold text-xl text-black text-center">About Us</h1>
  <div class="grid grid-cols-2 gap-4">
  <div class="py-24 flex items-center ml-6  space-x-8">
  <img src="https://thumbs.dreamstime.com/b/doctor-stethoscope-white-icon-medical-hospital-backg-background-technology-network-concept-94228000.jpg" alt="/" class="w-42 h-42 rounded-full mt-6 opacity-40">
  </div>
  <p class="font-semibold text-red-900 italic mt-40">Welcome to our new website.We encourage you to find out more about the values and vision that guides us,the services and programs we offer,the indicators that ensure our continued accountability and transparency,and the news and events that matter most to you.It is the place where you will find information on career opportunities with HMH and be able to access general healthcare information to keep you well informed.
   Life Care Clinic has a proud tradition of care.For Last so many years, LCC has cared for the people of Lucknow,surrounding communities,and beyond,being a significant player within the District.Residing in the heart of a beautiful cottage country on the shores of the Gomti River, we offer healthcare not only to our community residents but to the many visitors who frequent our beautiful area year round.We provide online consultation booking system(for registered patients only)</p> 
  </div>  
  <div class="flex justify-end"> 
  <p class="py-6 ml-20  text-green-900 font-bold text-xl text-center">🏥"Happiness is the highest form of health."!🙂😊 </p></div><br>
  <div class="ml-80 flex justify-end">
  <p class="text-green-900 font-bold italic text-center text-xl"> - Carl Jung.</p>
  </div>
</body>
</html>
{% endblock %}