{% extends 'cmsapp/base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<h1 class="font-bold text-xl text-black text-center">Contact Us</h1>
<div class="flex justify-center mt-10 ">
<div class="card w-96 h-100 bg-yellow-500 shadow-xl rounded-lg border-4 border-white-600 ">
<div class="card-body">
<h2 class=" italic text-center text-black font-bold">Contact Us</h2>
<div class="flex justify-center">
<img  src="https://www.medicazone.in/images/MZ.png" class="ml-10 h-6 sm:h-9 mr-6" alt="" /></div>
<p class="font-bold text-black text-center">LIFE CARE CLINIC,
        MANARCAD
</p>
    <p><i class="fa fa-phone mt-6 " style="font-size:20px;color:red"></i>0481-2380144</p>
    <p><i class="fa fa-phone mb-20 " style="font-size:20px;color:red"></i>0481-2370188</p>
    <p><i class="fa fa-mobile-phone ml-2" style="font-size:20px"></i>+91 9071174681</p>
    <p class="text-black font-bold text-center">email : lcc123@gmail.com</p>
   
</div>
</div>
</div>
</body>
{% endblock %}