{% load static tailwind_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Pharmacist Homepage</title>
{% tailwind_css %}
  <style>
    body {
      background-color: rgb(235, 204, 204);
    }
  </style>
</head>
<body>
  <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900 h-24">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="https://www.medicazone.in/images/MZ.png" class="flex items-center">
    <img src="https://www.medicazone.in/images/MZ.png" class="mr-3 h-6 sm:h-9" alt="LCC Logo">
    <span class="self-center text-xl font-bold whitespace-nowrap dark:text-white italic">LCC</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
    <span class="sr-only">Open main menu</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="{% url 'cmsapp:homeview' %}" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Home</a>
        </li>
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Hi {{user.username}} !</a>
        </li>
      </ul>
    </div>
  
  <div class="flex justify-end">
  <button class="border-4 border-sky-500 h-10 px-4 m-2 text-sm text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800 " type="button"> 
    <ul tabindex="0" class="text-black text-lg font-bold">
    {% if user.is_authenticated %}
    <li><a href="{% url 'users:logout'%}">Logout</a></li>
     {% else %}
    <li><a href="{% url 'pharmacist:login3'%}">Login</a></li>
    {% endif %}
   </ul> 
 </button>
</div>
</div>
</nav>
<form method="post" action="" >
<a href="{% url 'pharmacist:invent' %}">
<h1 class="font-bold text-black text-lg hover:underline ml-4 italic">View Medicine Inventory</h1>
</a>

<a href="{% url 'reception:patmedicine' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
    <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="material-icons" style="font-size:28px;color:red">people_outline</i></span>
    <span class="text-sm font-bold">View Prescription</span>
</a>

<a href="{% url 'reception:addmedicine' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
    <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="material-icons" style="font-size:28px">add_to_photos</i></span>
    <span class="text-sm font-bold">Add Medicine(Bill)</span>
</a>
</form>
</body>
</html>